<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify API</title>
  <link rel="stylesheet" href="/stylesheets/error.css">
  <link rel="shortcut icon" href="/images/Spotify_Icon.ico"><!--图标-->
</head>
<body>
  <div style="text-align: center;">
    <img src="/images/error.png">
    <p>发生了错误,可以点击查看文档按钮</p>
    <a href="https://zzhenjie.github.io/Spotify-API-Document/#/">
        <button class="Document_Button"><span>Document</span></button>
    </a>
  </div>
</body>
</html>