<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify API</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="shortcut icon" href="/images/Spotify_Icon.ico"><!--图标-->
</head>
<body>
  <div style="text-align: center;">

    <img src="https://avatars.githubusercontent.com/u/96617883?v=4">

    <p>A Easy Spotify API</p>

    <a href="">
      <button class="Document_Button" style="vertical-align:middle"><span>Document</span></button>
    </a>

    <p></p>

    <a href="https://space.bilibili.com/1362205077?spm_id_from=333.1007.0.0">
      <button class="Bilibili_Button"><span>BiLiBiLi</span></button>
    </a>

  </div>
</body>
</html>