body{
    background-color: rgb(64, 111, 228);
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: white;
}

.Document_Button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(50,185,125);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    Border-radius: 10px;
}
  
.Document_Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.Document_Button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.Document_Button:hover span {
    padding-right: 25px;
}

.Document_Button:hover span:after {
    opacity: 1;
    right: 0;
}


.Bilibili_Button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(242,93,142);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    Border-radius: 10px;
}
  
.Bilibili_Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.Bilibili_Button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.Bilibili_Button:hover span {
    padding-right: 25px;
}

.Bilibili_Button:hover span:after {
    opacity: 1;
    right: 0;
}